<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script>
   var _hmt = _hmt || [];
   (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?c0b8714daf7adbdb9ebdf185385f7e0f";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
   })();
</script>

   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>深树荫</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link th:include="common :: common_head">
   </head>
   <body>
   <div th:replace="common :: common_section"></div>
      <!-- header section end -->
      <!-- services section start -->
      <div class="services_section layout_padding">
         <div class="container">
            <h1 class="services_taital">公司产品 </h1>


            <div th:each="prod,iter :${product} " class="about_section layout_padding">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-6 ">
                        <div>
                           <h2 th:text="${prod.product_name}" class="about_taital"></h2>
                           <p th:text="${prod.product_brief}" class="about_text"></p>
                           <div class="readmore_bt"><a href="#" class="a_detailpage">了解产品</a></div>
                        </div>
                     </div>
                     <div class="col-md-6 padding_right_0">
                        <div><img th:src="@{${prod.product_image}}" class="about_img" style="width: 670px;height: 400px"></div>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>

   <div th:replace="common :: common_end"></div>

   <div th:replace="common :: common_beinan"></div>

   <div th:replace="common :: common_src"></div>

<!--   <script type="application/javascript">-->

<!--      $(document).on("click",".a_detailpage",function () {-->
<!--         var names=$(this).parent().prev().prev().text();-->
<!--         // alert("yeah 1! names are " + names)-->
<!--         $.ajax(-->
<!--            url:"/product/show_detailpage",-->
<!--            type:"post",-->
<!--            dataType:"json",-->
<!--            data:{-->
<!--               name:names-->
<!--            },-->
<!--            // success:function (res) {-->
<!--            //    alert("yeah 2!" + res)-->
<!--            //    console.log("yeah3 data is :" + res)-->
<!--            //    window.location.href = "/detailpages_services";-->
<!--            //    console.log("yeah4 data is :" + res)-->
<!--            // },-->
<!--            // error: function(jqXHR, textStatus, errorThrown) {-->
<!--            //    // 在这里处理错误情况-->
<!--            //    alert("加载产品详情失败: " + errorThrown +", " + jqXHR + ", " + textStatus);-->
<!--            //    console.log("yeah5 data is :" + errorThrown)-->
<!--            // }-->
<!--         })-->
<!--      })-->


<!--   </script>-->
   <script type="application/javascript">
      $(document).on("click", ".a_detailpage", function () {
         var names=$(this).parent().prev().prev().text(); // 假设.name-selector是包含名字的元素
         console.log("names = " + names)
         $.ajax({
            url: "/product/show_detailpage", // 修正这里
            type: "post",
            dataType: "json",
            data: {
               name: names
            },
            success: function (res) {
               // 处理成功响应
               // console.log("Data received:", res);
               window.location.href = "/detailpages_services";
            },
            error: function (jqXHR, textStatus, errorThrown) {
               // 处理错误响应
               alert("加载产品详情失败: " + errorThrown);
               console.log("Error details:", textStatus, errorThrown);
            }
         });
      });
   </script>

   </body>
</html>

